body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: silver ;
    color: white;
}

header{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Yamaha_Motor_logo.svg/960px-Yamaha_Motor_logo.svg.png);
    background-size: cover;
    background-position: center;
    height:250px ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 8px black;
}

header h1{
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 0;
    margin: 0;
}

.navbar li a {
    text-decoration: none;
    color: blue;
    padding: 15px 25px;
    display: block;
    transition: 0.3s;
}


.navbar li a:hover{
    background-color: black;
    transform: scale(1,1);
}

.navbar li a:focus{
    outline: 2px solid blue;
}

.activo{
    background-color: white;
}

.navbar li :last-child a {
    background-color: black;
    color: silver;
}

.navbar li a ::before{
    content: "⭐";
}

.navbar li a::after{
    content: "✅";
    color: white;
}

.iniecio icoonicos{
    padding: 20px;
}

.vision{
    margin-bottom: 30px;
    background-color: black;
    padding: 15px;
    border-radius: 10px
}

.vision h2{
    color: white;
}

img{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}

footer{
    background-color: white;
    text-align: center;
    padding: 15px;
}